html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito", monospac;
}

h1,
h2,
h3 {
    margin: 1rem 0;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 4.8rem;
}

.navName,
h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.8rem;
}

footer p {
    font-size: 1.6rem;
}

nav a {
    font-size: 2rem;
}

ul {
    list-style: none;
}
