$black: #000;
$white: #FFF;
// $themeColor: #DC965A;
$themeColor: rgb(57, 57, 126);
// $themeColor: rgba(57, 57, 126, 0.8);
// $paleBrown: #FEF6EE; // original
$paleBrown: #FAEBD7; // muckitlist
// $paleBrown: #fce3c9;
// $paleBrown: #fdd5b1; // jojo
