@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

body {
    background: rgb(49, 48, 48);
    position: relative;
}

.h1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 35vh;
    left: 5vw;
    line-height: 0.1;
    color: rgb(202, 202, 202);
    font-family: 'Kanit', sans-serif;
    h1 {
    font-size: 60px;
    font-weight: 600;
    }
    h2 {
    font-size: 50px;
    font-weight: 500;
    }
    h3 {
    font-size: 40px;
    font-weight: 400;
    }
}

@media (max-width: 700px) {
    .h1 {
        h1 {
        font-size: 40px;
        }
        h2 {
            font-size: 30px;
        }
        .webDev {
            display: block;
        }
        h3 {
            font-size: 20px;
        }
    }
    
}