@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap');

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

body {
    background: rgb(49, 48, 48);
    position: relative;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    color: #FFC627;
    text-decoration: none;
}

.allTheStuff {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    top: 25vh;
    left: 5vw;
    line-height: 0.1;
    color: rgb(202, 202, 202);
    font-family: 'Kanit', sans-serif;
    border-right: 10px solid #FFC627;
    border-bottom: 10px solid #FFC627;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10vh;

    .message {
        width: 40%;
        // border: 1px solid red;
        margin: 0 auto;
        // padding: 50px;
        line-height: 1.6;
        font-size: 30px;
        h3 {
            margin-bottom: 0;
        }
        .thanks {
            margin: 0;
            height: 108.5px;
            color: #FFC627;
        }
        
    }

    .headers {
        // width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        // border: 1px solid red;
        h1 {
            font-size: 60px;
            font-weight: 600;
        }
        h2 {
            font-size: 50px;
            font-weight: 500;
        }
        h3 {
            font-size: 40px;
            font-weight: 400;
        }
    }
    
}

@media (max-width: 1000px) {
    .allTheStuff {
        flex-direction: column;
        .message {
            width: 95%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 700px) {
    .allTheStuff {
        top: 10vh;
        .headers {
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 25px;
            } 
            h3 {
                font-size: 20px;
            }
        }
    }   
}