@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

.wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    // border: 1px solid red;
}

header,
section {
    padding: 5rem 0;
}

.underline {
    position: relative;
}

.underline::after {
    position: absolute;
    content: "";
    width: 3.1rem;
    height: 0.3rem;
    background: $themeColor;
    left: 0;
    bottom: -0.5rem;
}

/////// HEADER ///////
header {
    background: $paleBrown;
    padding-top: 0;
    height: 6rem;
    line-height: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    :first-child {
        display: flex;
        justify-content: space-between;
    }
    .navName {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: $themeColor;
        // cursor: default;
    }
    ul {
        list-style: none;
        padding: 0;
        display: flex;
    }
    a {
        text-decoration: none;
        color: $black;
    }
    a:hover,
    a:focus {
        color: $themeColor;
    }
    li {
        padding-left: 5rem;
    }
    li:nth-of-type(1) {
        padding-left: 0;
    }
}

/////// LANDING ///////
.landing {
    background-color: $paleBrown;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    // justify-content: center;
    align-items: center;
}

.asteroid {
    color: $themeColor;
    display: inline;
    display: none;
    svg {
        width: 10rem;
    }
}


/////// ABOUT ///////
.about {
    background-color: transparent;
    height: 100vh;
    display: flex;
    padding-left: 10vw;
    position: relative;
    :first-child {
        display: flex;
        align-items: center;
    }
    .headshot {
        width: 40%;
        max-width: 50rem;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
        img {
            width: 100%;
            border: 0.8rem solid $white;
        }
    }
    .aboutText {
        width: 50vw;
        padding: 0 2vw 0 10vw;
    }
    .leftBox {
        height: 100%;
        background-color: $themeColor;
        width: 40%;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        // display: none;
    }
}


/////// SKILLS ///////
.skills {
    background-color: $paleBrown;
}


/////// PROJECTS ///////
.projects {
    background-color: $white;
}

/////// CONTACT ///////
.contact {
    background-color: $paleBrown;
}

/////// FOOTER ///////
footer {
    background-color: $black;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: $white;
    }
}
