@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

body {
  background: rgb(49, 48, 48);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: #FFC627;
  text-decoration: none;
}

.allTheStuff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0.1;
  color: rgb(202, 202, 202);
  font-family: "Kanit", sans-serif;
  border-right: 10px solid #FFC627;
  border-bottom: 10px solid #FFC627;
  border-radius: 10px;
  padding: 20px;
  margin: 15vh auto 10vh;
}
.allTheStuff .message {
  width: 40%;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 30px;
}
.allTheStuff .message h3 {
  margin-bottom: 0;
}
.allTheStuff .message .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 20px 0;
}
.allTheStuff .message .contactForm input,
.allTheStuff .message .contactForm textarea,
.allTheStuff .message .contactForm button {
  border: 1px solid #FFC627;
  border-radius: 2px;
  background: rgb(49, 48, 48);
  color: rgb(202, 202, 202);
}
.allTheStuff .message .contactForm input,
.allTheStuff .message .contactForm textarea {
  margin-bottom: 15px;
  padding-left: 5px;
}
.allTheStuff .message .contactForm input::-webkit-input-placeholder, .allTheStuff .message .contactForm textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}
.allTheStuff .message .contactForm input::-moz-placeholder, .allTheStuff .message .contactForm textarea::-moz-placeholder {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}
.allTheStuff .message .contactForm input:-ms-input-placeholder, .allTheStuff .message .contactForm textarea:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}
.allTheStuff .message .contactForm input::-ms-input-placeholder, .allTheStuff .message .contactForm textarea::-ms-input-placeholder {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}
.allTheStuff .message .contactForm input,
.allTheStuff .message .contactForm input::placeholder,
.allTheStuff .message .contactForm textarea,
.allTheStuff .message .contactForm textarea::placeholder,
.allTheStuff .message .contactForm button {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}
.allTheStuff .message .contactForm input,
.allTheStuff .message .contactForm button {
  width: 50%;
  height: 30px;
}
.allTheStuff .message .contactForm textarea {
  height: 100px;
}
.allTheStuff .message .contactForm button {
  cursor: pointer;
}
.allTheStuff .message .thanks {
  margin: 0;
  height: 108.5px;
  color: #FFC627;
}
.allTheStuff .headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.allTheStuff .headers h1 {
  font-size: 60px;
  font-weight: 600;
}
.allTheStuff .headers h2 {
  font-size: 50px;
  font-weight: 500;
}
.allTheStuff .headers h3 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .allTheStuff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .allTheStuff .message {
    width: 95%;
    margin-bottom: 20px;
  }
}
@media (max-width: 700px) {
  .allTheStuff {
    top: 10vh;
  }
  .allTheStuff .headers h1 {
    font-size: 40px;
  }
  .allTheStuff .headers h2 {
    font-size: 25px;
  }
  .allTheStuff .headers h3 {
    font-size: 20px;
  }
}