@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

body {
  background: #313030;
  position: relative;
}

a {
  color: #FFC627;
  text-decoration: none;
}

.allTheStuff {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 25vh;
  left: 5vw;
  line-height: 0.1;
  color: #cacaca;
  font-family: 'Kanit', sans-serif;
  border-right: 10px solid #FFC627;
  border-bottom: 10px solid #FFC627;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10vh;
}

.allTheStuff .message {
  width: 40%;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 30px;
}

.allTheStuff .headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.allTheStuff .headers h1 {
  font-size: 60px;
  font-weight: 600;
}

.allTheStuff .headers h2 {
  font-size: 50px;
  font-weight: 500;
}

.allTheStuff .headers h3 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .allTheStuff {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .allTheStuff .message {
    width: 95%;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .allTheStuff {
    top: 10vh;
  }
  .allTheStuff .headers h1 {
    font-size: 40px;
  }
  .allTheStuff .headers h2 {
    font-size: 25px;
  }
  .allTheStuff .headers h3 {
    font-size: 20px;
  }
}
