@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

body {
  background: #313030;
  position: relative;
}

.h1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 35vh;
  left: 5vw;
  line-height: 0.1;
  color: #cacaca;
  font-family: 'Kanit', sans-serif;
  border-right: 10px solid #FFC627;
  border-bottom: 10px solid #FFC627;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10vh;
}

.h1 h1 {
  font-size: 60px;
  font-weight: 600;
}

.h1 h2 {
  font-size: 50px;
  font-weight: 500;
}

.h1 h3 {
  font-size: 40px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .h1 h1 {
    font-size: 40px;
  }
  .h1 h2 {
    font-size: 25px;
  }
  .h1 h3 {
    font-size: 20px;
  }
}
